<p class="lead text-info text-center mb-1">Satisfaction level from your current job?</p>
<div class="row justify-content-center" *ngIf="isInvalid && f.invalid">  
      <p [ngClass]="{'text-danger small border border-danger rounded p-2 guide blink': isInvalid}">Please slide left or right <span *ngIf="isInvalid">to proceed</span></p>
</div>
<div class="row text-muted small justify-content-center" *ngIf="!isInvalid || f.valid">
  <p>Please slide left or right</p>
</div>
<form #f="ngForm">
	<div class="row mt-4">
	  	<div class="slidecontainer">
  			<input type="range" 
  				min="0" 
  				max="10"  
  				class="slider" 
  				id="myRange"
  				name="job-satisfaction"
  				[(ngModel)]="surveyService.jobSatisfactionLevel"
  				required 
  				>
      	</div>
      	
 	</div>
 	<div class="row">
 		<div class="col text-center">
  			<h5>{{surveyService.jobSatisfactionLevel}}</h5>
  			<p class="text-muted small">Higher value = higher job satisfaction</p>
  		</div>
  	</div>
</form>

<hr>

<div class="row text-center">
	<div class="col xs-6">
		<button class="btn btn-outline-success" (click)="goBack()">Back</button>
	</div>
	<div class="col xs-6">
		<button type="submit" (click)="onSubmit()" class="btn btn-outline-success">Next</button>
	</div>
</div>
					