<p class="lead text-center">Did you complete this course ?</p>
<div class="row text-muted small justify-content-center" *ngIf="isInvalid && f.invalid">	
	<p  [ngClass]="{'text-danger font-weight-normal border border-danger rounded p-2 guide blink': isInvalid}">Please select one <span *ngIf="isInvalid">to proceed</span></p>
</div>
<div class="row text-muted small justify-content-center" *ngIf="!isInvalid || f.valid">	
	<p>Please fill up the following detail</p>
</div>
<form #f="ngForm">
	<div class="row text-center">
		<div class="col custom-control custom-radio mt-2">
      		<input 
      			id="yes" 
      			type="radio" 
      			class="btn btn-outline-primary custom-control-input" 
      			value="Yes" 
      			name="completed" 
      			[(ngModel)]="surveyService.completed"
      			#completed="ngModel"
      			required
	      		>
      		<label class="custom-control-label" for="yes">Yes</label>
      	</div>
      	<div class="col custom-control custom-radio mt-2">
      		<input 
      			id="no" 
      			type="radio" 
      			class="btn btn-outline-primary custom-control-input" 
      			value="No" 
      			name="completed" 
      			[(ngModel)]="surveyService.completed"
      			#completed="ngModel"
      			required
      			[ngClass]="{ 'is-invalid': completed.invalid && completed.touched, 'is-valid': completed.valid && completed.touched }" 
	      		>
	      		
      		<label class="custom-control-label" for="no">No</label>
      		<div *ngIf="completed.invalid && completed.touched" class="invalid-feedback">
                    <div *ngIf="completed.errors.required">Please select one option</div>
                </div>
      	</div>
  	</div>
	<hr>

	<div class="row text-center">
		<div class="col xs-6">
			<button class="btn btn-outline-success btn-smal" (click)="goBack()">Back</button>
		</div>
		<div class="col xs-6" *ngIf="completed.value != 'No'">
			<button type="submit" (click)="onSubmit()"  class="btn btn-outline-success btn-smal">Next</button>
		</div>
		<div class="col xs-6" *ngIf="completed.value=='No'">
			<button type="submit" [disabled]="f.invalid"  class="btn btn-outline-success btn-smal" routerLink="/dropout-reason">Next</button>
		</div>
	</div>
</form>
					