<p class="lead text-info text-center mb-1">What is your dream job after completing this course ?</p>
<div class="row justify-content-center" *ngIf="isInvalid && f.invalid">  
      <p [ngClass]="{'text-danger small border border-danger rounded p-2 guide blink': isInvalid}">Please select one <span *ngIf="isInvalid">to proceed</span></p>
</div>
<div class="row text-muted small justify-content-center" *ngIf="!isInvalid || f.valid">
      <p class="mb-1">Please select one</p>
</div>
<div class="card-body text-success">
<form #f="ngForm">
	
		<div class="row">
		    <div class="col form-group">
		      	<label for="dreamjob">Dream job</label>
		      	<input 
		      		type="text" 
			      	class="form-control" 
			      	id="dreamjob" 
			      	placeholder="Your dream job" 
			      	name="dreamJob"
			      	#dreamJob = "ngModel" 
			      	[(ngModel)]="surveyService.dreamJob" 
			      	minlength="2"
			      	maxlength="30" 
			      	required 
			      	[ngClass]="{ 'is-invalid': dreamJob.invalid && dreamJob.touched, 'is-valid': dreamJob.valid && dreamJob.touched }" 
		      		>
		      		<div *ngIf="dreamJob.invalid && dreamJob.touched" class="invalid-feedback">
                        <div *ngIf="dreamJob.errors.required">Please enter your Dream Job</div>
                        <div *ngIf="dreamJob.errors.minlength">Minimum 2 characters</div>
                        <div *ngIf="dreamJob.errors.maxlength">Maximum 30 characters</div>
                    </div>

		    </div>
		    
	    </div>
		

		    <hr>

	    <div class="row text-center">
			<div class="col xs-6">
				<button class="btn btn-outline-success" (click)="goBack()">Back</button>
			</div>
			<div class="col xs-6">
				<button type="submit" (click)="onSubmit()" class="btn btn-outline-success">Next</button>
			</div>
		</div>
</form>
					