<section id="terms-conditions">
			<div class="card" id="contact-us">
				<div class="card-header text-success text-center c-main-bg-color">
					<h3 class="text-success">Contact us</h3>
				</div>
				<div class="card-body">
						<form (ngSubmit)="onSendMessage(f)" #f="ngForm" *ngIf="!messageService.messageSuccess">
						  	<div class="form-group col-xs-12 col-sm-12">
						    	<label for="name">Name</label>
						      	<input 
						      		type="text" 
						      		class="form-control" 
						      		id="name"
						      		placeholder="Enter your name" 
						      		name="name"
						      		ngModel
						      		#name="ngModel"
						      		required
						      		minlength="2"
						      		maxlength="50" 
						      		[ngClass]="{ 'is-invalid': name.invalid && name.touched && !noname, 'is-valid': name.valid && name.touched }" 
						      		>
						      		<div *ngIf="name.invalid && name.touched && !noname" class="invalid-feedback">
						      			<div *ngIf="name.errors.required">Please enter name name</div>
						      			<div *ngIf="name.errors.minlength">Minimun 2 characters</div>
						      			<div *ngIf="name.errors.maxlength">Maximum 50 cahracters</div>
				                    </div>
						  	</div>
						  	<div class="form-group col-xs-12 col-sm-12">
						    	<label for="email">Email</label>
						      	<input 
						      		type="email" 
						      		class="form-control" 
						      		id="email" 
						      		placeholder="Enter your email address" 
						      		name="email"
						      		ngModel
						      		#email="ngModel"
						      		pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$"
						      		required 
						      		[ngClass]="{ 'is-invalid': email.invalid && email.touched && !noEmail, 'is-valid': email.valid && email.touched }" 
						      		>
						      		<div *ngIf="email.invalid && email.touched && !noEmail" class="invalid-feedback">
						      			<div *ngIf="email.errors.required">Please enter email name</div>
						      			<div *ngIf="email.errors.pattern">Please enter a valid email address</div>
				                    </div>
						    	
						  	</div>
						  	<div class="form-group col-xs-12 col-sm-12">
						    	<label for="message">Message</label>
						      	<textarea
						      		rows="7"
						      		cols="50"
						      		class="form-control" 
						      		id="message"
						      		placeholder="Your message" 
						      		name="message"
						      		ngModel
						      		#message="ngModel"
						      		required
						      		minlength="20"
						      		maxlength="10000"
						      		[ngClass]="{ 'is-invalid': message.invalid && message.touched, 'is-valid': message.valid && message.touched }" 
						      		>
						      	</textarea>
						      	<div *ngIf="message.invalid && message.touched" class="invalid-feedback">
					      			<div *ngIf="message.errors.required">Please enter message</div>
					      			<div *ngIf="message.errors.minlength">Minimun 20 characters</div>
					      			<div *ngIf="message.errors.maxlength">Maximum 1000 characters</div>
		                    	</div>
						  	</div>
						  	<button type="submit" [disabled]="f.invalid" class="btn btn-outline-success btn-block">Send</button>
						</form>
						<div *ngIf="messageService.messageSuccess" class="text-center">
							<h3>Thank you</h3>
							<p>We have received your message. We will be in touch with you very soon.</p>
						</div>
				</div>
				<div class="card-footer text-muted text-center">
					<p>John Citizen</p>
					<p>Email: johncitizendummy@dummyemail.com</p>
					<p>mobile: 98XXXXXXXXX</p>
				</div>
			</div>
</section>