<section class="mt-3">
  <div class="container">
    <div class="row justify-content-sm-center">
      <div class="col-sm-8 col-xs-12">
        <h4 class="text-success font-weight-normal text-center">Employment Survey</h4>
        <hr>
        <div class="card p-2 pt-0 mt-4 c-main-bg-color border-success">
          <div class="card-body text-success">
			<h3 class="text-success mb-3 text-center">About Us</h3>
			<h4 class="text-info text-center">( हाम्रो बारेमा )</h4>
			<p class="mt-3 text-justify text-muted">
				दिव्यज्योति बहुमुखी क्याम्पस प्रदेश नम्बर ५, नवलपरासी सुस्ता पश्चिम, बर्दघाट नगरपालिका वडा नम्बर २ चिसापानीमा अवस्थित छ । वि.सं. २०४७ सालमा स्थापित यस सामुदायिक क्याम्पसका उत्पादनहरू हाल विश्वमा छरिएर रहेको अवस्था छ । हाल BBS, BA, BED, MBS, MED का कक्षाहरू सञ्चालन भइरहेको यस क्याम्पसमा आगामी शैक्षिक सत्रबाट BBA पनि सञ्चालन गर्ने तयारी भइरहेको छ । विश्वविद्यालय अनुदान आयोग (University Grants Commission(UGC)) बाट गुणस्तर सुनिश्चितता प्रत्यायन (Quality Assurance Accreditation(QAA)) प्रमाणित यस संस्थाको Employment Cell बाट यस सर्वेक्षण गरिएको हो ।
			</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>