<p class="lead text-center">How long did you work before retirement ? (रिटायर हुनुभन्दा अघि कति बर्ष काम गर्नुभयो ?)</p>
<div class="row text-muted small justify-content-center" *ngIf="isInvalid && f.invalid">	
	<p  [ngClass]="{'text-danger font-weight-normal border border-danger rounded p-2 guide blink': isInvalid}">Please select one <span *ngIf="isInvalid">to proceed</span></p>
</div>
<div class="row text-muted small justify-content-center" *ngIf="!isInvalid || f.valid">	
	<p>Please select one</p>
</div>
<form #f="ngForm">
	<div class="row mt-4">
		<div class="col-xs-12 custom-control custom-radio">
      		<input 
      			id="group-1" 
      			type="radio" 
      			class="custom-control-input" 
      			value="10-15 years" 
      			name="serviceDuration" 
      			[(ngModel)]="surveyService.serviceDuration"
      			required 
	      		>
      		<label class="custom-control-label" for="group-1">10-15 years</label>
      	</div>
      	<div class="col-xs-12 col-sm-12 custom-control custom-radio mt-2">
      		<input 
      			id="group-2" 
      			type="radio" 
      			class="btn btn-outline-primary custom-control-input" 
      			value="15-20 years" 
      			name="serviceDuration" 
      			[(ngModel)]="surveyService.serviceDuration"
      			required
	      		>
      		<label class="custom-control-label" for="group-2">15-20 years</label>
      	</div>
      	<div class="col-xs-12 col-sm-12 custom-control custom-radio mt-2" >
      		<input 
      			id="group-3" 
      			type="radio" 
      			class="btn btn-outline-primary custom-control-input" 
      			value="20-25 years" 
      			name="serviceDuration" 
      			[(ngModel)]="surveyService.serviceDuration"
      			required
	      		>
      		<label class="custom-control-label" for="group-3">20-25 years</label>
      	</div>

      	<div class="col-xs-12 col-sm-12 custom-control custom-radio mt-2" >
      		<input 
      			id="group-4" 
      			type="radio" 
      			class="btn btn-outline-primary custom-control-input" 
      			value="More than 25 years" 
      			name="serviceDuration" 
      			[(ngModel)]="surveyService.serviceDuration"
      			required
	      		>
      		<label class="custom-control-label" for="group-4">More than 25 years</label>
      	</div>
 	</div>

</form>

<hr>

<div class="row text-center">
	<div class="col xs-6">
		<button class="btn btn-outline-success btn-smal" (click)="goBack()">Back</button>
	</div>
	<div class="col xs-6">
		<button type="submit" (click)="onSubmit()" class="btn btn-outline-success btn-smal">Next</button>
		
	</div>
</div>
					