<div class="card-header text-success text-center c-main-bg-color">
	<h3 class="text-success">Thank you</h3>
</div>
<div class="card-body text-center">
	<p class="card-text">Thank you for your interest and valuable time to participate in this survey. If you want to know more about this survey and Employment Cell of DJMC, please contact us.</p>
	<a href="#" class="btn btn-outline-success">Go DJMC website</a>
</div>
<div class="card-footer text-muted text-center">
	<p>John Citizen</p>
	<p>Email: johncitizendummy@dummyemail.com</p>
	<p>mobile: 98XXXXXXXXX</p>
</div>
			
