<section id="signup-form" class="mt-3">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-sm-8 col-xs-12">
				<h4 class="text-success font-weight-normal text-center">Employment Survey</h4>
				<hr>
				<p class="text-muted text-center">Please fill up the following form.</p>
				<div class="card p-2 pt-0 mt-4 c-main-bg-color border-success">
					<div class="card-body text-success">
						
						<p class="lead text-center">Do you live in Nepal or overseas ?</p>
						<div class="row text-muted small justify-content-center">Please select one</div>
						<form #f="ngForm">
							<div class="row text-center mt-4">
								<div class="col custom-control custom-radio">
						      		<input 
						      			id="locationNepal" 
						      			type="radio" 
						      			class="custom-control-input" 
						      			value="Nepal" 
						      			name="location" 
						      			[(ngModel)]="surveyService.location"
						      			#location="ngModel"
						      			required 
							      		>
						      		<label class="custom-control-label" for="locationNepal">Nepal</label>
						      	</div>
						      	<div class="col custom-control custom-radio">
						      		<input 
						      			id="locationOverseas" 
						      			type="radio" 
						      			class="btn btn-outline-primary custom-control-input" 
						      			value="Overseas" 
						      			name="location" 
						      			[(ngModel)]="surveyService.location"
						      			required
							      		>
						      		<label class="custom-control-label" for="locationOverseas">Overseas</label>
						      	</div>
					     	</div>

					    </form>

						<hr>

						<div class="row text-center">
							<div class="col xs-6">
								<button class="btn btn-outline-success btn-smal" (click)="goBack()">Back</button>
							</div>
							<div class="col xs-6" *ngIf="surveyService.location != 'Overseas'">
								<button type="submit" [disabled]="f.invalid" class="btn btn-outline-success btn-smal" routerLink="/employment-status">Next</button>
							</div>
							<div class="col xs-6" *ngIf="surveyService.location == 'Overseas'">
								<button type="submit" [disabled]="f.invalid"  class="btn btn-outline-success btn-smal" routerLink="/country">Next</button>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
