<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8 col-xs-12">
        <h6 class="text-success text-center">Employment Survey</h6>
        <hr>
        <div class="card c-main-bg-color border-info">
          <div class="card-body pt-1 text-success">
            <p class="lead text-info text-center mb-1">Where do you live now ?</p>
            <p class="text-info text-center small mb-1">( अहिले नेपालमा बस्नुहुन्छ अथवा बिदेशमा  ? )</p>
            <div class="row justify-content-center" *ngIf="isInvalid && f.invalid">  
                  <p [ngClass]="{'text-danger small border border-danger rounded p-2 guide blink': isInvalid}">Please select one <span *ngIf="isInvalid">to proceed</span></p>
            </div>
            <div class="row text-muted small justify-content-center" *ngIf="!isInvalid || f.valid">
            <p class="mb-1">Please select one</p>
            </div>
            <form #f="ngForm">
                  <div class="row text-center mt-1">
                        <div class="col custom-control custom-radio">
                              <input 
                                    id="locationNepal" 
                                    type="radio" 
                                    class="custom-control-input" 
                                    value="Nepal" 
                                    name="location" 
                                    [(ngModel)]="surveyService.location"
                                    required 
                                    >
                              <label class="custom-control-label" for="locationNepal">Nepal</label>
                        </div>
                        <div class="col custom-control custom-radio">
                              <input 
                                    id="locationOverseas" 
                                    type="radio" 
                                    class="btn btn-outline-primary custom-control-input" 
                                    value="Overseas" 
                                    name="location" 
                                    [(ngModel)]="surveyService.location"
                                    required
                                    >
                              <label class="custom-control-label" for="locationOverseas">Overseas</label>
                        </div>
                  </div>
                  <hr>

                  <div class="row text-center">
                        <div class="col xs-6">
                              <button class="btn btn-outline-success" (click)="goBack()">Back</button>
                        </div>
                        <div class="col xs-6" *ngIf="surveyService.location != 'Overseas'">
                              <button type="submit" (click)="onSubmit()" class="btn btn-outline-success">Next</button>
                        </div>
                        <div class="col xs-6" *ngIf="surveyService.location == 'Overseas'">
                              <button type="submit" (click)="onSubmit()"  class="btn btn-outline-success">Next</button>
                        </div>
                  </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>