<p class="lead text-center">Do you get pension ? ( पेन्सन पाउनुहुन्छ ? )</p>
<div class="row text-muted small justify-content-center">Please select one</div>
<form #f="ngForm">
	<div class="row text-center mt-3">
		<div class="col custom-control custom-radio mt-2">
      		<input 
      			id="yes" 
      			type="radio" 
      			class="btn btn-outline-primary custom-control-input" 
      			value="Yes" 
      			name="pension" 
      			[(ngModel)]="surveyService.pension"
      			required
	      		>
      		<label class="custom-control-label" for="yes">Yes</label>
      	</div>
      	<div class="col custom-control custom-radio mt-2">
      		<input 
      			id="no" 
      			type="radio" 
      			class="btn btn-outline-primary custom-control-input" 
      			value="No" 
      			name="pension" 
      			[(ngModel)]="surveyService.pension"
      			#notCompleted="ngModel"
      			required
	      		>
      		<label class="custom-control-label" for="no">No</label>
      	</div>
	</div>

	<hr>

	<div class="row text-center">
		<div class="col xs-6">
			<button class="btn btn-outline-success btn-smal" (click)="goBack()">Back</button>
		</div>
		<div class="col xs-6">
			<button type="submit" [disabled]="f.invalid" class="btn btn-outline-success btn-smal" routerLink="">Next</button>
		</div>
	</div>
</form>
					