<section class="mt-3">
  <div class="container">
    <div class="row justify-content-sm-center">
      <div class="col-sm-8 col-xs-12">
        <h4 class="text-success font-weight-normal text-center">Employment Survey</h4>
        <hr>
        <div class="card p-2 pt-0 mt-4 c-main-bg-color border-success">
          <div class="card-body text-success">
			<h3 class="text-success mb-3 text-center">Privacy Policy</h3>
			<h4 class="text-info text-center">( गोपनियता निती )</h4>
			<ol class="text-muted">
				<li class="mb-1">यस सर्वेक्षणबाट लिइएका जानकारीलाई कडाइका साथ गोपनीय राखिनेछ ।</li>
				<li class="mb-1">सर्वेक्षणबाट प्राप्त गरिएका व्यक्तिगत जानकारीलाई व्यक्तिगत पहिचान खुल्ने गरी सार्वजनिक रूपमा प्रकाशन, प्रसारण र/वा खुलासा गरिनेछैन ।</li>
				<li class="mb-1">सर्वेक्षणबाट प्राप्त गरिएका जानकारीलाई व्यक्तिगत पहिचान नखुल्ने गरी नामरहित रूपमा समग्र रूपमा क्याम्पसबाट प्रकाशित स्मारिका, वार्षिक प्रतिवेदन विज्ञापन लगायतमा प्रयोग गर्न सकिने छ ।</li>
				<li class="mb-1">सर्वेक्षणबाट प्राप्त जानकारीलाई व्यक्तिगत पहिचान खुल्ने गरी खुलासा गर्न आवश्यक परेमा पूर्व स्वीकृति लिएर मात्र गरिनेछ ।</li>
				<li class="mb-1">कानून वा कानून प्रवर्तन निकायद्वारा खुलासा गर्न आवश्यक परेको खण्डमा पूर्व स्वीकृति बिना खुलासा गर्न सकिने छ ।</li>
				<li class="mb-1">प्राप्त जानकारीलाई पासवर्ड सुरक्षाद्वारा गोपनीय राखिनेछ ।</li>
				<li class="mb-1">भुपु विद्यार्थीहरूको व्यक्तिगत व्यक्तित्व तथा क्याम्पसको प्रतिष्ठालाई अभिवृद्धि गर्न क्याम्पसमा बैठकमा आवश्यक भएको समयमा मात्र व्यक्तिगत विवरणको चर्चा परिचर्चा गर्न सकिने छ ।</li>
			</ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>