<p class="lead text-center">How many overtime hours do you work in a week ?</p>
<div class="row text-muted small justify-content-center">Please select one</div>
<form #f="ngForm">
	<div class="row mt-4">
		<div class="col-xs-12 custom-control custom-radio">
      		<input 
      			id="group-1" 
      			type="radio" 
      			class="custom-control-input" 
      			value="5-10 Hours" 
      			name="FeOvertimeHours" 
      			[(ngModel)]="surveyService.FeOvertimeHours"
      			required 
	      		>
      		<label class="custom-control-label pl-2 ml-3" for="group-1"> 5-10 hours a week</label>
      	</div>
      	<div class="col-xs-12 col-sm-12 custom-control custom-radio mt-2">
      		<input 
      			id="group-2" 
      			type="radio" 
      			class="btn btn-outline-primary custom-control-input" 
      			value="10-15" 
      			name="FeOvertimeHours" 
      			[(ngModel)]="surveyService.FeOvertimeHours"
      			required
	      		>
      		<label class="custom-control-label pl-2 ml-3" for="group-2">10-15 hours a week</label>
      	</div>
      	<div class="col-xs-12 col-sm-12 custom-control custom-radio mt-2">
      		<input 
      			id="group-3" 
      			type="radio" 
      			class="btn btn-outline-primary custom-control-input" 
      			value="15-20" 
      			name="FeOvertimeHours" 
      			[(ngModel)]="surveyService.FeOvertimeHours"
      			required
	      		>
      		<label class="custom-control-label pl-2 ml-3" for="group-3">15-20 hours a week</label>
      	</div>
      	<div class="col-xs-12 col-sm-12 custom-control custom-radio mt-2">
      		<input 
      			id="group-4" 
      			type="radio" 
      			class="btn btn-outline-primary custom-control-input" 
      			value="20-25" 
      			name="FeOvertimeHours" 
      			[(ngModel)]="surveyService.FeOvertimeHours"
      			required
	      		>
      		<label class="custom-control-label pl-2 ml-3" for="group-4">20-25 hours a week</label>
      	</div>
      	<div class="col-xs-12 col-sm-12 custom-control custom-radio mt-2">
      		<input 
      			id="group-5" 
      			type="radio" 
      			class="btn btn-outline-primary custom-control-input" 
      			value="25 above" 
      			name="FeOvertimeHours" 
      			[(ngModel)]="surveyService.FeOvertimeHours"
      			required
	      		>
      		<label class="custom-control-label pl-2 ml-3" for="group-5">More than 25 hours a week</label>
      	</div>
 	</div>

	<hr>
	
	<div class="row text-center">
		<div class="col xs-6">
			<button class="btn btn-outline-success btn-smal" (click)="goBack()">Back</button>
		</div>
		<div class="col xs-6">
			<button type="submit" [disabled]="f.invalid" class="btn btn-outline-success btn-smal" routerLink="">Next</button>
		</div>
	</div>
</form>