<p class="lead text-info text-center mb-1">How many overtime hours do you work in a week ?</p>
<p class="small text-info text-center mb-1">( हप्तामा कति घण्टा ओभरटाइम काम गर्नुहुन्छ? )</p>
<div class="row justify-content-center" *ngIf="isInvalid && f.invalid">  
      <p [ngClass]="{'text-danger small border border-danger rounded p-2 guide blink': isInvalid}">Please select one <span *ngIf="isInvalid">to proceed</span></p>
</div>
<div class="row text-muted small justify-content-center" *ngIf="!isInvalid || f.valid">
      <p class="mb-1">Please select one</p>
</div>
<form #f="ngForm">
	<div class="row mt-1">
		<div class="col-xs-12 custom-control custom-radio">
      		<input 
      			id="group-1" 
      			type="radio" 
      			class="custom-control-input" 
      			value="5-10 Hours" 
      			name="feOvertimeHours" 
      			[(ngModel)]="surveyService.feOvertimeHours"
      			required 
	      		>
      		<label class="custom-control-label pl-2 ml-3" for="group-1"> 5-10 hours</label>
      	</div>
      	<div class="col-xs-12 col-sm-12 custom-control custom-radio mt-2">
      		<input 
      			id="group-2" 
      			type="radio" 
      			class="btn btn-outline-primary custom-control-input" 
      			value="10-15" 
      			name="feOvertimeHours" 
      			[(ngModel)]="surveyService.feOvertimeHours"
      			required
	      		>
      		<label class="custom-control-label pl-2 ml-3" for="group-2">10-15 hours</label>
      	</div>
      	<div class="col-xs-12 col-sm-12 custom-control custom-radio mt-2">
      		<input 
      			id="group-3" 
      			type="radio" 
      			class="btn btn-outline-primary custom-control-input" 
      			value="15-20" 
      			name="feOvertimeHours" 
      			[(ngModel)]="surveyService.feOvertimeHours"
      			required
	      		>
      		<label class="custom-control-label pl-2 ml-3" for="group-3">15-20 hours</label>
      	</div>
      	<div class="col-xs-12 col-sm-12 custom-control custom-radio mt-2">
      		<input 
      			id="group-4" 
      			type="radio" 
      			class="btn btn-outline-primary custom-control-input" 
      			value="20-25" 
      			name="feOvertimeHours" 
      			[(ngModel)]="surveyService.feOvertimeHours"
      			required
	      		>
      		<label class="custom-control-label pl-2 ml-3" for="group-4">20-25 hours</label>
      	</div>
      	<div class="col-xs-12 col-sm-12 custom-control custom-radio mt-2">
      		<input 
      			id="group-5" 
      			type="radio" 
      			class="btn btn-outline-primary custom-control-input" 
      			value="25 above" 
      			name="feOvertimeHours" 
      			[(ngModel)]="surveyService.feOvertimeHours"
      			required
	      		>
      		<label class="custom-control-label pl-2 ml-3" for="group-5">More than 25 hours a week</label>
      	</div>
 	</div>

	<hr>
	
	<div class="row text-center">
		<div class="col xs-6">
			<button class="btn btn-outline-success" (click)="goBack()">Back</button>
		</div>
		<div class="col xs-6">
			<button type="submit" (click)="onSubmit()" class="btn btn-outline-success">Next</button>
		</div>
	</div>
</form>