<section>
  <div class="container">
    <div class="row justify-content-sm-center">
      <div class="col-sm-8 col-xs-12">
        <h6 class="text-success font-weight-normal text-center">Employment Survey</h6>
        <hr>
        <div class="card c-main-bg-color border-info">
          <div class="card-body text-success">
          	<p class="lead text-info text-center mb-1">Your email address ?</p>
          	<p class="text-info text-center small mb-1">( तपाइको इमेल एड्रेस ?)</p>
			<div class="row text-muted small justify-content-center" *ngIf="email.dirty && email.invalid || isInvalid && !surveyService.consent">	
				<p  [ngClass]="{'text-danger font-weight-normal border border-danger rounded p-2 guide blink': isInvalid}"><span *ngIf="!surveyService.consent ">Please provide your consent </span><span *ngIf="!surveyService.consent && email.invalid"> & </span> <span *ngIf="email.invalid"> Enter valid email address </span> <span *ngIf="isInvalid">to proceed</span></p>
			</div>
			<div class="row text-muted small justify-content-center" *ngIf="!isInvalid || f.valid">	
				<p>Please enter email address. You can submit without entering email address.</p>
				<p class="text-info text-center">( इमेल एड्रेस नराखेर पनि फर्म सब्मिट गर्न सक्नुहुन्छ तर इमेल एड्रेस भर्दा राम्रो । )</p>
			</div>
			<form #f="ngForm">
				<div>
					<div class="row">
					    <div class="form-group col-xs-12 col-sm-12">
					      	<label for="email">Email address (Optional)</label>
					      	<input 
					      		type="email" 
						      	class="form-control" 
						      	id="email" 
						      	placeholder="email" 
						      	name="email"
						      	[(ngModel)]="surveyService.email"
						      	#email="ngModel" 
						      	pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$"
						      	[ngClass]="{ 'is-invalid': email.invalid && email.touched, 'is-valid': email.valid && email.touched }" 
					      		>
					      		<div *ngIf="email.invalid && email.touched" class="invalid-feedback">
					      			<div *ngIf="email.errors.required">Please enter email name</div>
					      			<div *ngIf="email.errors.pattern">Please enter a valid email address</div>
			                    </div>
					    </div>
				    </div>
				    
				    <div class="row mt-3">
				    	<div class="col">
				    		<div class="form-group custom-control custom-checkbox">
							    <input 
							    	type="checkbox" 
							    	class="custom-control-input" 
							    	id="group-2" 
									value="Yes"
									[(ngModel)]="surveyService.consent"
									[ngModelOptions]="{standalone: true}"
							    	required>
							    <label class="custom-control-label" for="group-2" [ngClass]="{'text-danger': isInvalid && !surveyService.consent}">I agree with <a routerLink="/terms-conditions">Terms & Conditions</a> and <a routerLink="/privacy-policy">Privacy Policy</a></label>
							    <div class="invalid-feedback">Example invalid feedback text</div>
							  </div>
				    	</div>
				    </div>

				    <hr>

				    <div class="row text-center">
						<div class="col xs-6">
							<button class="btn btn-outline-success" (click)="goBack()">Back</button>
						</div>
						<div class="col xs-6">
							<button type="submit" (click)="onSubmit()" class="btn btn-outline-success">Submit</button>
						</div>
					</div>
			    </div>
			</form>
			<div *ngIf="surveyService.dataSent">
				<div class="loader"></div>
				<p class="text-success lead text-center mt-2">Please wait</p>
			</div>
			
          </div>
        </div>
      </div>
    </div>
  </div>
</section>