
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-xs-12">
				<p><span class="text-success">Respondants : </span>{{surveyMainDataService.respondantsNumber}}</p>
			</div>
			<div class="col-sm-4 col-xs-12">
				<p><span class="text-success">Living in Nepal : </span>{{respondantLocationService.livingInNepal}}</p>
			</div>
			<div class="col-sm-4 col-xs-12">
				<p><span class="text-success">Living Overseas : </span>{{respondantLocationService.livingOverseas}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-xs-12">
				<p><span class="text-success">Completed course : </span>{{surveyMainDataService.successfullyCompleted}}</p>
			</div>
			<div class="col-sm-4 col-xs-12">
				<p><span class="text-success">Who didn't complete : </span>{{surveyMainDataService.notCompletedCourse}}</p>
			</div>
		</div>
		<hr>

		<div class="row">
			<div class="container">
				<div class="mt-6 mb-4">
					<ul class="nav nav-tabs justify-content-center">
					  <li class="nav-item">
					    <button class="btn btn-outline-info mb-3" (click)="showPieChart()" >Pie Chart</button>
					  </li>
					  <li class="nav-item ml-2">
					    <button class="btn btn-outline-info mb-3" (click)="showBarChart()" >Bar Chart</button>
					  </li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<h4 class="text-success text-center mb-3">Reason of not completing course</h4>
				
				<!--
				<ngx-charts-pie-chart
			      [view]="view"
			      [scheme]="colorScheme"
			      [results]="myData"
			      [legendTitle]="lTitle"
			      [legend]="showLegend"
			      [explodeSlices]="explodeSlices"
			      [labels]="showLabels"
			      [doughnut]="doughnut"
			      [maxLabelLength]=40
			      >
			    </ngx-charts-pie-chart>
				-->
				
				<ngx-charts-pie-chart
				  [view]="view"
			      [scheme]="colorScheme"
			      [results]="dropoutData"
			      [explodeSlices]="explodeSlices"
			      [labels]="showLabels"
			      [doughnut]="doughnut"
			      [maxLabelLength]=40
			      [legendTitle]="legendTitleDropout"
				  [legend]="showLegend"
			      *ngIf="pieChart"
			      class="d-flex justify-content-center"
			      >
			    </ngx-charts-pie-chart>

			    <ngx-charts-bar-vertical
				  [view]="view"
				  [scheme]="colorScheme"
				  [results]="dropoutData"
				  [gradient]="gradient"
				  [xAxis]="showXAxis"
				  [yAxis]="showYAxis"
				  [legendTitle]="legendTitleDropout"
				  [legend]="showLegend"
				  [showXAxisLabel]="showXAxisLabel"
				  [showYAxisLabel]="showYAxisLabel"
				  [xAxisLabel]="xAxisLabelDropout"
				  [yAxisLabel]="yAxisLabelDropout"
				  class="d-flex justify-content-center"
				  *ngIf="barChart"
				  >
				</ngx-charts-bar-vertical>
				
			</div>
		</div>
		<hr>

		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<h4 class="text-success text-center mb-3">Where Ex-students are living now</h4>
				
				<ngx-charts-pie-chart
				  [view]="view"
			      [scheme]="colorScheme"
			      [results]="respondantLocation"
			      [explodeSlices]="explodeSlices"
			      [labels]="showLabels"
			      [doughnut]="doughnut"
			      [maxLabelLength]=40
			      [legendTitle]="legendTitleLocation"
				  [legend]="showLegend"
			      *ngIf="pieChart"
			      class="d-flex justify-content-center"
			      >
			    </ngx-charts-pie-chart>
		
			    <ngx-charts-bar-vertical
				  [view]="view"
				  [scheme]="colorScheme"
				  [results]="respondantLocation"
				  [gradient]="gradient"
				  [xAxis]="showXAxis"
				  [yAxis]="showYAxis"
				  [legendTitle]="legendTitleLocation"
				  [legend]="showLegend"
				  [showXAxisLabel]="showXAxisLabel"
				  [showYAxisLabel]="showYAxisLabel"
				  [xAxisLabel]="xAxisLabelLocation"
				  [yAxisLabel]="yAxisLabelLocation"
				  class="d-flex justify-content-center"
				  *ngIf="barChart"
				  >
				</ngx-charts-bar-vertical>
				
			</div>
		</div>
		<hr>

		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<h4 class="text-success text-center mb-3">Employment situation</h4>
				
				<ngx-charts-pie-chart
				  [view]="view"
			      [scheme]="colorScheme"
			      [results]="jobSituation"
			      [explodeSlices]="explodeSlices"
			      [labels]="showLabels"
			      [doughnut]="doughnut"
			      [maxLabelLength]=40
			      [legendTitle]="legendTitleEmployment"
				  [legend]="showLegend"
			      *ngIf="pieChart"
			      class="d-flex justify-content-center"
			      >
			    </ngx-charts-pie-chart>

			    <ngx-charts-bar-vertical
				  [view]="view"
				  [scheme]="colorScheme"
				  [results]="jobSituation"
				  [gradient]="gradient"
				  [xAxis]="showXAxis"
				  [yAxis]="showYAxis"
				  [legendTitle]="legendTitleEmployment"
				  [legend]="showLegend"
				  [showXAxisLabel]="showXAxisLabel"
				  [showYAxisLabel]="showYAxisLabel"
				  [xAxisLabel]="xAxisLabelEmployment"
				  [yAxisLabel]="yAxisLabelEmployment"
				  class="d-flex justify-content-center"
				  *ngIf="barChart"
				  >
				</ngx-charts-bar-vertical>
				
			</div>
		</div>

		<hr>
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<h4 class="text-success text-center mb-3">Highest Education Level</h4>
				
				<ngx-charts-pie-chart
				  [view]="view"
			      [scheme]="colorScheme"
			      [results]="highestEducationLevel"
			      [explodeSlices]="explodeSlices"
			      [labels]="showLabels"
			      [doughnut]="doughnut"
			      [maxLabelLength]=40
			      [legendTitle]="legendTitleHeducation"
				  [legend]="showLegend"
			      *ngIf="pieChart"
			      class="d-flex justify-content-center"
			      >
			    </ngx-charts-pie-chart>

			    <ngx-charts-bar-vertical
				  [view]="view"
				  [scheme]="colorScheme"
				  [results]="highestEducationLevel"
				  [gradient]="gradient"
				  [xAxis]="showXAxis"
				  [yAxis]="showYAxis"
				  [legendTitle]="legendTitleHeducation"
				  [legend]="showLegend"
				  [showXAxisLabel]="showXAxisLabel"
				  [showYAxisLabel]="showYAxisLabel"
				  [xAxisLabel]="xAxisLabelHeducation"
				  [yAxisLabel]="yAxisLabelHeducation"
				  class="d-flex justify-content-center"
				  *ngIf="barChart"
				  >
				</ngx-charts-bar-vertical>
				
			</div>
		</div>

		<hr>
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<h4 class="text-success text-center mb-3">Business Investment</h4>
				
				<ngx-charts-pie-chart
				  [view]="view"
			      [scheme]="colorScheme"
			      [results]="businessInvestment"
			      [explodeSlices]="explodeSlices"
			      [labels]="showLabels"
			      [doughnut]="doughnut"
			      [maxLabelLength]=40
			      [legendTitle]="legendTitleBusinessInvestment"
				  [legend]="showLegend"
			      *ngIf="pieChart"
			      class="d-flex justify-content-center"
			      >
			    </ngx-charts-pie-chart>

			    <ngx-charts-bar-vertical
				  [view]="view"
				  [scheme]="colorScheme"
				  [results]="businessInvestment"
				  [gradient]="gradient"
				  [xAxis]="showXAxis"
				  [yAxis]="showYAxis"
				  [legendTitle]="legendTitleBusinessInvestment"
				  [legend]="showLegend"
				  [showXAxisLabel]="showXAxisLabel"
				  [showYAxisLabel]="showYAxisLabel"
				  [xAxisLabel]="xAxisLabelBusinessInvestment"
				  [yAxisLabel]="yAxisLabelBusinessInvestment"
				  class="d-flex justify-content-center"
				  *ngIf="barChart"
				  >
				</ngx-charts-bar-vertical>
				
			</div>
		</div>

		<hr>
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<h4 class="text-success text-center mb-3">Job Income</h4>
				
				<ngx-charts-pie-chart
				  [view]="view"
			      [scheme]="colorScheme"
			      [results]="jobIncome"
			      [explodeSlices]="explodeSlices"
			      [labels]="showLabels"
			      [doughnut]="doughnut"
			      [maxLabelLength]=40
			      [legendTitle]="legendTitleJobIncome"
				  [legend]="showLegend"
			      *ngIf="pieChart"
			      class="d-flex justify-content-center"
			      >
			    </ngx-charts-pie-chart>

			    <ngx-charts-bar-vertical
				  [view]="view"
				  [scheme]="colorScheme"
				  [results]="jobIncome"
				  [gradient]="gradient"
				  [xAxis]="showXAxis"
				  [yAxis]="showYAxis"
				  [legendTitle]="legendTitleJobIncome"
				  [legend]="showLegend"
				  [showXAxisLabel]="showXAxisLabel"
				  [showYAxisLabel]="showYAxisLabel"
				  [xAxisLabel]="xAxisLabelJobIncome"
				  [yAxisLabel]="yAxisLabelJobIncome"
				  class="d-flex justify-content-center"
				  *ngIf="barChart"
				  >
				</ngx-charts-bar-vertical>
				
			</div>
		</div>
		
		
	</div>
	
</section>

