@import "variables";
@import "mixins";
@import "utilities";
@import "../bootstrap/bootstrap";

.c-nav-bg-color, .c-main-bg-color{
	background-color: $navBgColor;
}

body{
	margin-top: 65px;
}

.card-columns {
	@include media-breakpoint-only(sm) {
    	column-count: 2;
	}
	@include media-breakpoint-only(md) {
    	column-count: 4;
  	}
  	@include media-breakpoint-only(lg) {
    	column-count: 5;
  	}
  	@include media-breakpoint-only(xl) {
    	column-count: 6;
  	}
}


#tutor-my-courses{
	.card-columns{
		@include media-breakpoint-only(sm) {
	    	column-count: 2;
		}
		@include media-breakpoint-only(md) {
	    	column-count: 2;
	  	}
	  	@include media-breakpoint-only(lg) {
	    	column-count: 3;
	  	}
	  	@include media-breakpoint-only(xl) {
	    	column-count: 3;
	  	}
	}

}


button[disabled]{
	cursor: no-drop;
}

.c-invalid-feedback{
	font-size:80%;
	color: #dc3545;
}

.sectionDescription{
	text-indent:0px;
}
#section-title{
	cursor:pointer;
}
.was-validated .custom-control-input:valid ~ .custom-control-label::before, .custom-control-input.is-valid ~ .custom-control-label::before {
    background-color: #d4d4d6;
}

	
.guide{
	animation: blink 1s linear infinite;
}
@keyframes blink{
	0%{opacity: 0;}
	50%{opacity: .5;}
	100%{opacity: 1;}
}

.hide-it{
	display:none;
}
#contact-us{
	border:0px solid white !important;
	margin-right:0px;
	margin-left:0px;
}

.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid $success; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

footer{
	min-height:100px;
	background-color:$navBgColor
}


