<p class="lead text-center">How long have you been working ?</p>
<div class="row text-muted small justify-content-center">Please select one</div>
<form #f="ngForm">
	<div class="row mt-4">
		<div class="col-xs-12 custom-control custom-radio">
      		<input 
      			id="less-than-one-year" 
      			type="radio" 
      			class="custom-control-input" 
      			value="Less than one year" 
      			name="FeDuration" 
      			[(ngModel)]="surveyService.FeDuration"
      			required 
	      		>
      		<label class="custom-control-label pl-2 ml-3" for="less-than-one-year">Less than 1 year</label>
      	</div>
      	<div class="col-xs-12 col-sm-12 custom-control custom-radio mt-2">
      		<input 
      			id="1-3-years" 
      			type="radio" 
      			class="btn btn-outline-primary custom-control-input" 
      			value="1-3" 
      			name="FeDuration" 
      			[(ngModel)]="surveyService.FeDuration"
      			required
	      		>
      		<label class="custom-control-label pl-2 ml-3" for="1-3-years">1-3 Years</label>
      	</div>
      	<div class="col-xs-12 col-sm-12 custom-control custom-radio mt-2">
      		<input 
      			id="3-5-years" 
      			type="radio" 
      			class="btn btn-outline-primary custom-control-input" 
      			value="3-5" 
      			name="FeDuration" 
      			[(ngModel)]="surveyService.FeDuration"
      			required
	      		>
      		<label class="custom-control-label pl-2 ml-3" for="3-5-years">3-5 Years</label>
      	</div>
      	<div class="col-xs-12 col-sm-12 custom-control custom-radio mt-2">
      		<input 
      			id="5-8-years" 
      			type="radio" 
      			class="btn btn-outline-primary custom-control-input" 
      			value="5-8" 
      			name="FeDuration" 
      			[(ngModel)]="surveyService.FeDuration"
      			required
	      		>
      		<label class="custom-control-label pl-2 ml-3" for="5-8-years">5-8 Years</label>
      	</div>
      	<div class="col-xs-12 col-sm-12 custom-control custom-radio mt-2">
      		<input 
      			id="8-10-years" 
      			type="radio" 
      			class="btn btn-outline-primary custom-control-input" 
      			value="8-10" 
      			name="FeDuration" 
      			[(ngModel)]="surveyService.FeDuration"
      			required
	      		>
      		<label class="custom-control-label pl-2 ml-3" for="8-10-years">8-10 Years</label>
      	</div>
      	<div class="col-xs-12 col-sm-12 custom-control custom-radio mt-2">
      		<input 
      			id="1-15-years" 
      			type="radio" 
      			class="btn btn-outline-primary custom-control-input" 
      			value="10-15" 
      			name="FeDuration" 
      			[(ngModel)]="surveyService.FeDuration"
      			required
	      		>
      		<label class="custom-control-label pl-2 ml-3" for="1-15-years">10-15 Years</label>
      	</div>
      	<div class="col-xs-12 col-sm-12 custom-control custom-radio mt-2">
      		<input 
      			id="ied" 
      			type="radio" 
      			class="btn btn-outline-primary custom-control-input" 
      			value="More than 15 years" 
      			name="FeDuration" 
      			[(ngModel)]="surveyService.FeDuration"
      			required
	      		>
      		<label class="custom-control-label pl-2 ml-3" for="ied">Above 15 years</label>
      	</div>
      	
 	</div>

	<hr>
	
	<div class="row text-center">
		<div class="col xs-6">
			<button class="btn btn-outline-success btn-smal" (click)="goBack()">Back</button>
		</div>
		<div class="col xs-6">
			<button type="submit" [disabled]="f.invalid" class="btn btn-outline-success btn-smal" routerLink="/foreign-employment/income">Next</button>
		</div>
	</div>
</form>